<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<form name="f" method="POST" action="/process_login">
    <label for="username">Введите имя пользователя:</label>
    <input type="text" id="username" name="username">

    <label for="password">Введите пароль:</label>
    <input type="password" id="password" name="password">

    <input type="submit" value="Login">

    <div th:if="${param.error}" style="color: red">
        Неправильное имя или пароль
    </div>
</form>

</body>
</html>